<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset = "UTF-8">
<title> LuLi Hydroponics </title>

<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<body>
 
   <header>
      <img class="logo" src = "{{ url_for('static', filename='images/hydroponic.png')}}" alt = "hydroPlant"  width = 50 height =50 style = "float: left;" >   
      <img src = "{{ url_for('static', filename='images/luli_logo.png')}}" alt="Luli Hydroponics" width = 60 height= 60 style="float: left">
      <div class = "corner_topRight"> </div>
   </header>

   <nav class = "nav_list">
      
      <div class = "button" > 
         <a href="/" target=" _self"><img src = "{{ url_for('static', filename='images/user.png')}}" alt = "login" height= 50 width = 50></a>
         <label class="button_label"> Login </label> 
      </div>
      <div class = "button" > 
         <a href="/plants" target=" _self"> <img src = "{{ url_for('static', filename='images/pot.png')}}" alt = "plant" height= 50 width = 50> </a>
         <label class="button_label"> Plants </label> 
      </div>
      <div class = "button" > 
         <a href="/friends" target=" _self"> <img src = "{{ url_for('static', filename='images/friends.png')}}" alt = "plant" height= 50 width=50> </a>
         <label class="button_label"> Friends </label> 
      </div>
      <div class = "button" > 
         <a href="/forum" target=" _self"> <img src = "{{ url_for('static', filename='images/discussion.png')}}" alt = "plant" height= 50 width=50> </a>
         <label class="button_label"> Forum </label> 
      </div>
      <div class = "button" > 
         <a href="/settings" target=" _self"> <img src = "{{ url_for('static', filename='images/setting.png')}}" alt = "plant" height= 50 width=50> </a>
         <label class="button_label"> Settings </label> 
      </div>
         <div class = "corner_bottomLeft"> </div>
     </nav>
     
     <article id="friendList" class="friendList">
      {% for friend in friends %}
      <div class="friendModule">
          <div class="userProfile">
            <img src="{{ url_for('static', filename='PROFILE_PICS/' + friend.username + '.jpg') }}" alt="profile pic" class="profileImage"/>
              <div class="userName">{{ friend.username }}</div>
          </div>
          <div class="userInfo">
              <p class="userAbout">Download my settings to your Luli Hydroponics system!</p>
              <div class="userInteraction">
                  <button type="button" class="downloadSettings" onclick="handleDownloadSettings(this)" data-friend-id="{{ friend._id }}">
                      <img src="{{ url_for('static', filename='images/download.png')}}" alt="download" width="80%"/>
                  </button>
              </div>
          </div>
      </div>
      {% endfor %}
  </article>
   
   
   <script src="scripts/settingsDownload.js"></script>




</body>



</html>
